/* color palette from <https://github.com/vuejs/theme> */
:root {
  --main-blue: #2A68E1;
  --light-blue: #F3F7FB;
  --text-grey: rgb(163, 163, 163);
}


button {
  background-color: var(--main-blue);
  color: white;
  text-transform: uppercase;
  padding: 10px 25px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 12px;
  border: 0;
  cursor: pointer;
}

.disabledButton {
  background-color: #e0e0e0; /* Grey background for disabled state */
  color: #a0a0a0; /* Grey text for disabled state */
  cursor: not-allowed; /* Change cursor to indicate disabled */
}

.addShadow {
  box-shadow: 10px 5px 15px 5px rgba(0, 0, 0, 0.118);
}

.bannerText {
  text-transform: uppercase;
  color: white;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
}


.banner {
  display: flex;
  align-items: center;
}